@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
}

@layer components {
  .nav_link {
    @apply flex items-center gap-[1rem] p-[1rem] pl-[1.5rem] md:mt-4 w-[5.2rem] slg:w-[22rem] hover:bg-[#F2F2F2] duration-500 rounded-[.8rem];
  }
  .link {
    @apply text-[1.5rem] font-normal;
  }
  .activeMenu {
    @apply text-[1.1rem] cursor-pointer font-medium;
  }
  .defualtMenu {
    @apply text-[1.1rem] cursor-pointer font-medium;
  }
}

.activeMenu:after {
  content: "";
  width: 80%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  margin-top: 4px;
  border-radius: 100%;
}
